<p id="notice"><%= notice %></p>

<h1>Crusts</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crusts.each do |crust| %>
      <tr>
        <td><%= crust.type %></td>
        <td><%= crust.price %></td>
        <td><%= link_to 'Show', crust %></td>
        <td><%= link_to 'Edit', edit_crust_path(crust) %></td>
        <td><%= link_to 'Destroy', crust, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crust', new_crust_path %>
